﻿/* Overall generic styles
===========================*/
/* HTML5Dr suggested that we try using the body
   as a container instead of a separate div
.container */
body
{
    margin : auto;
    width : 600px;
    font-size : .9em;
}

/* Style the headers to look like the homework example. */
h2
{
    color : Blue;
}

h3
{
    color : Purple;
}

/* I originally thought that this was just supposed to
   cover the links in the header nav but it looks like
   the homework example also wants the email link
   displayed this way, thought it's not explicitly stated. */
a:link
{
    text-decoration : none;
}

a:hover
{
    color : Red;
    text-decoration : underline;
    text-transform : uppercase;
}

/* Style fieldset elements
=============================*/
/* Adjust the fieldset legend text to look like the example */
legend
{
    font-size : 1.2em;
}

/* Adjust the spacing for the paragraphs inside the fieldsets */
fieldset p
{
    margin : 0;
}

/* Added an extra div element for the fieldsets to try to make the
   spacing look like the example. */
.fieldsetDiv
{
    padding : .2em;
}

/* Style the header elements 
==============================*/
/* This styles the horizontal rule */
header hr
{
    height : 8px;
    background : #00FF00;
    border-style : inset;
}

/* This styles the nav element in the header */
header nav
{
    margin : 2em;
    float : right;
}

/* The ul and li need to be styled to make a horizontal menu listing */
header nav ul
{
    list-style-type : none;
    margin : 0;
    padding : 0;
}

header nav ul li
{
    display : inline;
    margin : 20px;
}

/* Style the footer elements
=============================*/
/* Give some distance/separation between the main
   content and the footer */
footer
{
    padding-top : 5px;
    border-top : medium double black;
}

/* Make the address elements display inline next to the other
   elements in the footer */
footer address
{
    display : inline;
}

/* Putting 20px space between each of the footer elements */
.footer-margin
{
    margin-right : 20px;
}

/* Style the form elements
===========================*/
form
{
    border : medium outset green;
    padding : 10px;
    margin-bottom : 15px;
}

/* Misc. specific style items
==============================*/
/* Used by an element to clear float. */
.clear
{
    clear : both;
}

.italics
{
    font-style : italic;
}

.center-text
{
    text-align : center;
}

/* This is for figures that need to not have
   any margin.  I added this to copy the look
   shown in the homework example.*/
.noMarginFigure
{
    margin : 0;
}

/* Float block items right */
.float-right
{
    float : right;
}

/* This is mostly for the AboutMe.html page, but I tried
   to make this class as generic as possible so that it
   could possibly be reused on other pages that have a
   figure on them. */
.section-with-figure
{
    width : 380px;
}

/* This probably being nitpicky, but I'm adding this
  to get my numbered list to match the indent of my
  bulleted list. */
.section-with-figure ol
{
    padding-left : 3em;
}